@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
    color: #fff;
    background-color: #212428;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}


.navbar-toggler{
    border: none;
}
.navbar-toggler:focus{
    border: none;
}
:root{
    --color-subtitle: #f9004d;
    --search-input:#f9004d;
    --check-form:#f9004d;
}

span{
    color: var(--color-subtitle);
}
/*HEADER*/
.nav-menu{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.navbar-brand{
    color:var(--color-subtitle) ;
    font-weight: bold;
}
.btn-close-red{
    color: #f9004d;
    background-color: #f9004d;
}

.dropdown-item:hover{
    background: #f9004d;
}

.active{
    color: #f9004d; 
}
/*Slider - events */

.slider-event{
    background-image: url(../Assets/background2.jpg);
    display: flex;
    flex-direction: column;
    height: 600px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-position:end;
    /* Asegurar que la imagen cubra todo el fondo */
    background-size: cover;
    /* Fijar la imagen de fondo para que no se desplace con el contenido */
    background-attachment: fixed;
}

.slider-event h2{
    font-size: 42px;
    text-transform: uppercase;
    font-weight: bold;
    
}


.slider-event p{
    font-size: 16px;
    margin-top: 20px;
    width: 600px;
   
}



.slider-event-past-event{
    background-image: url(../Assets/background3.jpg);
    display: flex;
    flex-direction: column;
    height: 600px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-position:end;
    /* Asegurar que la imagen cubra todo el fondo */
    background-size: cover;
    /* Fijar la imagen de fondo para que no se desplace con el contenido */
    background-attachment: fixed;
}

.slider-event-upcoming-event h2{
    font-size: 42px;
    text-transform: uppercase;
    font-weight: bold;
    
}


.slider-event-upcoming-event{
    background-image: url(../Assets/background4.jpg);
    display: flex;
    flex-direction: column;
    height: 600px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-position:end;
    /* Asegurar que la imagen cubra todo el fondo */
    background-size: cover;
    /* Fijar la imagen de fondo para que no se desplace con el contenido */
    background-attachment: fixed;
}

.slider-event-past-event h2{
    font-size: 42px;
    text-transform: uppercase;
    font-weight: bold;
    
}


.slider-event-upcoming-event p{
    font-size: 16px;
    margin-top: 20px;
    width: 600px;
   
}

.slider-event-past-event p{
    font-size: 16px;
    margin-top: 20px;
    width: 600px;
   
}




/*Element wave*/
.element-wave{
    width: 100%;
    background-color: #16161600;
    

}
/*Block events seccion*/

.group-events {
    display: flex;
    z-index: 5;
    height: 200px;
}

.block-event-section{
    width: 550px;
    height: 300px;   
    background: linear-gradient(145deg, #1e2024, #23272b);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 30px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative; /* Añadimos una posición diferente a static */
    bottom: 4.8cm;
}


.block-event-section-two{
    width: 550px;
    height: 300px;   
    background: linear-gradient(145deg, #f9004d, #23272b);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 30px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative; /* Añadimos una posición diferente a static */
    bottom: 4.8cm;
}

.block-event-section-two span{
    color: #fff;
}

.item-category{
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
}
.item-category-one{
    padding-top: 20px;
    padding-bottom: 20px;
    background: linear-gradient(145deg, #1e2024, #23272b);
}

.item-category-two{
    padding-top: 20px;
    padding-bottom: 20px;
    background: linear-gradient(145deg, #f9004d, #23272b);
}

.item-category-two span{
    color: #fff;
}

.responsive-element-category{
    flex-direction: column;
    color: #fff;
  
    width: 100%;
    display: none;
}

/*Container - events - top*/

.container-events-top{
    display: flex;
    flex-direction: column;
    color: #fff;
   
    width: 100%;
}
.container-events-top h2{
    text-transform: uppercase;
    font-weight: bold;
}




/*EVENTS*/
.img-section-events img{
    width: 200px;
    height: auto;
    border-radius: 10px;
}


/*item category*/


/*CARD*/

.card-conteiner-main{
    margin-right: 30px;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;
}
.card-img{
    margin-top: 30px;
    border-radius: 10px;
    width: 250px;
    height: 150px;
}

.card{
    padding: 0px;
    border: 0px;
    background:linear-gradient(to right bottom, #212428, #16181c);
    color: #fff;
    margin-left: 15px;
    margin-top: 40px;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.card-body{
    width: 100%;
}

.card-body p{
    color: darkgray;
}
.container-fluid{
    width: 100%;
}

.card-body-button-price{
    width: 100%;
}

.card-price{
    color: var(--color-subtitle);
}

.card-feacture{
    width: 300px;
    text-align: center;
    padding: 35px 20px;
    border-radius: 13px;
    border: 1px solid var(--color-subtitle);
}

.card-feacture-two{
    width: 300px;
    text-align: center;
    padding: 35px 20px;
    border-radius: 13px;
    background-color: var(--color-subtitle);
    border: 1px solid var(--color-subtitle);
}


.card-feacture svg{
    color: #f9004d;
    width: 30px;
    height: 30px;
}

.card-feacture p{
    color: #878787;
}


.card-feacture-two svg{
    color: #fff;
    width: 30px;
    height: 30px;
}

.card-feacture-two p{
    color: #fff;
}

.card-feacture-item{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    justify-content:center;
    flex-wrap: wrap;
}



/*button*/
.btn-primary-aevento{
    font-size: 16px;
    font-weight: bold;
    border-bottom: 2px solid var(--color-subtitle);
    border-radius: 0px;
    padding: 10px 20px;
    transition: 0.5s;
    color: #fff;
}


.btn-primary-aevento:hover{
    font-size: 16px;
    font-weight: bold;
    border-bottom: 2px solid var(--color-subtitle);
    border-radius: 0px;
    padding: 10px 20px;
    transition: 0.5s;
    color: var(--color-subtitle);
}

.btn-two-aevento{
    font-size: 16px;
    font-weight: bold;
    border: 0px;
    border-bottom: 2px solid var(--color-subtitle);
    border-radius: 0px;
    padding: 10px 20px;
    transition: 0.5s;
    color: #fff;
    background-color: #161616;
}

.btn-three-aevento{
    font-size: 16px;
    font-weight: bold;
    border: 0px;
    border-radius: 0px;
    padding: 10px 20px;
    transition: 0.5s;
    color: #fff;
    background: linear-gradient(to right bottom, #212428, #16181c)
}

/*CONTAINER MAIN*/

.container-content{
    margin-left: 50px;
    margin-right: 50px;
}



/*form*/

.form-input-search{
    outline: none;
    border: 0px;
    border-radius: 0px;
    background-color: #16161600;
    border-bottom: 3px solid var(--search-input);
    color: #fff;
}

.form-input-search:focus{
    outline: none;
    border-radius: 0px;
    border: 0px;
    background-color: #16161600;
    border-bottom: 3px solid var(--search-input);
    color: #fff;
    box-sizing: border-box;
}

.form-check-body{
    max-width: 200px;
    margin-left: 40px;
}

.form-section-one-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center ;
}
.form-section-two-container{
    margin-left: 50px;
}

.form-check-group {
    display: flex;
    flex-wrap: wrap;
  }

  input[type="email"] {
    border: 0px;
    outline: none;
    border-radius: 0px;
    border: 0px;
    background-color: #191b1e;
    border-bottom: 3px solid #191b1e;
    color: #fff;
    box-sizing: border-box;
}

input[type="text"] {
    border: 0px;
    outline: none;
    border-radius: 0px;
    border: 0px;
    background-color: #191b1e;
    color: #fff;
    box-sizing: border-box;
    border-bottom: 3px solid #191b1e;
}
input[type="email"]:focus {
    box-shadow: none;
    color: #fff;
    border-bottom: 3px solid var(--search-input);
    background-color: #191b1e;
}

input[type="text"]:focus {
    box-shadow: none;
    color: #fff;
    border-bottom: 3px solid var(--search-input);
    background-color: #191b1e;
}

textarea{
    border: 0px;
    outline: none;
    border-radius: 0px;
    border: 0px;
    background-color: #191b1e;
    color: #fff;
    box-sizing: border-box;
    border-bottom: 3px solid #191b1e;
    padding: 10px;
}

textarea:focus {
    box-shadow: none;
    color: #fff;
    border-bottom: 3px solid var(--search-input);
    background-color: #191b1e;
}

  .form-check-input:checked {
    background-color: var(--check-form);
    border-color: var(--check-form);
}






/*DETAILS*/

.details-container{
    margin-top: 100px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    padding-top: 60px;
    padding-bottom: 60px;
    border-radius: 10px;
}
.details-container img {
    width: 100%;
    border-radius: 10px;
}

.details-text{
    border-radius: 10px;
    background-color: #fff;
    color: #161616;
    margin-left: 20px;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;

}
.main-details{
    height: 100vh;
}

/*TABLE*/
.table-container{
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
    
}
table{
    font-size: 18px;
}
/*FOOTER*/

.footer-conteiner{
    display: flex;
    flex-direction: row;
    background-color: #161616;
    color: #fff;
    padding: 15px 10px;
    align-items: center;
    justify-content: space-between;

}

/**/

.breadcrumb {
    --bs-breadcrumb-divider-color: #f9004d;
    padding-left: 80px;
    color: #fff;
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    
}

.breadcrumb a{
    color: #fff;
    text-decoration: none;
}
.breadcrumb-item.active {
    color: #f9004d;

}
/*MEDIA QUERY*/



@media(max-width: 991px){
    .element-nav{
        padding-left: 0%;
    }

}

@media(max-width: 689px){
    .form-body{
        width: 100%;
        margin-left: 5px;
        margin-right: 5px;
    }
    .form-input-search{
        margin-left: 10px;
        margin-right: 10px;
    }
    .slider-element{
        margin-left: 10px;
        margin-top: 50px;
        width: 450px;
    }
    .group-events {
        display: flex;
        flex-direction: row;
        width: 100%;
        z-index: 5;
        background-color: #212428;
        height: 100%;
        margin-top: 10px;
        justify-content: center;
    }

    .block-event-section{
        padding-top: 20px;
        padding-bottom: 20px;
        width: 300px;
        background: linear-gradient(145deg, #1e2024, #23272b);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        margin-right: 10px;
        margin-left: 10px;
        border-radius: 10px;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 10px;
        height: 150px;
        position: relative; /* Añadimos una posición diferente a static */
        bottom:50px;
    }
    
    .block-event-section:hover{
        width: 300px;
        background: linear-gradient(45deg, #1e2024, #23272b);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        margin-right: 10px;
        margin-left: 10px;
        border-radius: 10px;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 10px;
        height: 100px;
    }

    .slider-event{
        background-image: url(../Assets/background2.jpg);
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        height: 400px;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-position:end;
        /* Asegurar que la imagen cubra todo el fondo */
        background-size: cover;
        /* Fijar la imagen de fondo para que no se desplace con el contenido */
        background-attachment: fixed;
    }

    
    .slider-event-past-event{
        margin-top: 30px;
        background-image: url(../Assets/background3.jpg);
        display: flex;
        flex-direction: column;
        height: 400px;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-position:end;
        /* Asegurar que la imagen cubra todo el fondo */
        background-size: cover;
        /* Fijar la imagen de fondo para que no se desplace con el contenido */
        background-attachment: fixed;
    }
    .slider-event-upcoming-event p{
        font-size: 16px;
        margin-top: 20px;
        width: 100%;
    }

    .slider-event-upcoming-event{
        margin-top: 30px;
        background-image: url(../Assets/background3.jpg);
        display: flex;
        flex-direction: column;
        height: 400px;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-position:end;
        /* Asegurar que la imagen cubra todo el fondo */
        background-size: cover;
        /* Fijar la imagen de fondo para que no se desplace con el contenido */
        background-attachment: fixed;
    }
    .slider-event-past-event p{
        font-size: 16px;
        margin-top: 20px;
        width: 100%;
    }


    .responsive-element-events{
        width: 100%;
    }
    .group-events {
        display: none
    }
    .responsive-element-category{
        flex-direction: column;
        color: #fff;
        background-color: #212428;
        width: 100%;
        display: flex;
    }
    .slider-event p{
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }
    .particle {
        display: none;
    }

}


@media(max-width: 555px){
    .group-events {
        display: none
    }

    .container-events-top{
        margin-top: 30px;
    }

    .breadcrumb {
        --bs-breadcrumb-divider-color: #f9004d;
        padding-left: 30px;
        color: #fff;
        font-size: 20px;
        padding-top: 30px;
        padding-bottom: 30px;
        
    }
}


@media(max-width: 300px){
    .footer-conteiner{
        display: flex;
        flex-direction: column;
    }
}
